:root {
    --font: sans-serif;
    --fg-color: #000;
    --bg-color: #fff;
    --em-color: #f00;
    --link-color1: #0000EE;
    --link-color2: #551A8B;
    --box-color: #000;
    --table-color1: #FFF;
    --table-color2: #CCC;
    --alert: #f00;
    --step1: black;
    --step2: black;
    --step3: black;
    --step4: black;
    --step5: black;
    --step6: black;
}

html {
    background-color: var(--bg-color);
    color: var(--fg-color);
    font-family: var(--font);
}

body {
    margin: .5em;
    padding: 0;
}

main {
    flex: 1;
}

div.flex-container {
    display: flex;
    align-items: stretch;
    flex-direction: row;
}

div.flex-container > div {
    margin: .5em;
    flex-grow: 1;
}

@media screen and (max-width: 600px) {
    div.flex-container {
        flex-direction: column;
    }
}

#machine-panel {
    min-width: 40%;
}

#log-panel {
    min-width: 30%;
}

#copyright {
    font-size: 8pt;
    line-height: 1.5;
    padding: 1em;
}

table {
    border-collapse: separate;
    border-spacing: .25em;
}

td {
    padding: 0 .25em;
    vertical-align: top;
}

button, input {
    font-family: var(--font);
}

fieldset {
    background-color: var(--bg-color);
    border: var(--box-color) 1px solid;
    color: var(--fg-color);
}

legend {
    border-style: none !important;
    padding: .3em;
}

#state, #symbol {
    color: var(--step1);
}

#left_symbol {
    color: var(--step2);
}

#next_state, #next_symbol, #next_move {
    color: var(--step3);
}

#subst1 {
    color: var(--step4);
}

#subst2 {
    color: var(--step5);
}

#work {
    color: var(--step6);
}

#log {
    border-style: none;
    min-height: 20em;
    overflow: auto;
    resize: true;
    width: 100%;
}
