<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name=viewport content='width=device-width, initial-scale=1' />
    <title>UMLLM</title>
    <link href="{{url_for('static', filename='style.css')}}"
          rel="stylesheet"/>
  </head>
  <body>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      let filename = {{filename | tojson}};
      let um = {{um | tojson}};
      let log = {{log | tojson}};
    </script>
    <script src="{{url_for('static', filename='script.js')}}"></script>
    <main>
      <fieldset>
        <legend>UMLLM</legend>
        <form method="POST" action="" enctype="multipart/form-data">
          <table style="width:100%;">
            <colgroup>
              <col span="1" style="width:15%;">
              <col span="1" style="width:85%;">
            </colgroup>
            <tbody>
              <tr>
                <td align="right"><label for="file">file</label></td>
                <td><input type="file" name="file"/></td>
              </tr>
              <tr>
                <td align="right"><label for="input">input</label></td>
                <td><input type="text" name="input"/></td>
              </tr>
              <tr>
                <td colspan="2" align="center" style="padding-top:1em;">
                  <button type="button" id="clear" disabled>Clear</button>
                  <input type="submit" value="Load"/>
                </td>
              </tr>
            </tbody>
          </table>
        </form>
      </fieldset>
      <div id="controls">
        <button id="reset" disabled>Reset</button>
        <button id="prev" disabled>Prev</button>
        <button id="next" disabled>Next</button>
        <button id="cycle" disabled>Cycle</button>
      </div>
      <fieldset>
        <legend id="filename"></legend>
        <table style="width: 100%;">
          <colgroup>
            <col span="1" style="width:15%;">
            <col span="1" style="width:85%;">
          </colgroup>
          <tbody>
            <tr>
              <td align="right">machine</td>
              <td id="machine"></td>
            </tr>
            <tr>
              <td align="right">halt</td>
              <td id="halt"></td>
            </tr>
            <tr>
              <td colspan="2"><br/></td>
            </tr>
            <tr>
              <td align="right" style="color:var(--step6);">work</td>
              <td id="work"></td>
            </tr>
            <tr>
              <td align="right" style="color:var(--step1);">state</td>
              <td id="state"></td>
            </tr>
            <tr>
              <td align="right" style="color:var(--step1);">symbol</td>
              <td id="symbol"></td>
            </tr>
            <tr>
              <td align="right" style="color:var(--step2);">left_symbol</td>
              <td id="left_symbol"></td>
            </tr>
            <tr>
              <td align="right" style="color:var(--step3);">next_state</td>
              <td id="next_state"></td>
            </tr>
            <tr>
              <td align="right" style="color:var(--step3);">next_symbol</td>
              <td id="next_symbol"></td>
            </tr>
            <tr>
              <td align="right" style="color:var(--step3);">next_move</td>
              <td id="next_move"></td>
            </tr>
            <tr>
              <td align="right" style="color:var(--step4);">subst1</td>
              <td id="subst1"></td>
            </tr>
            <tr>
              <td align="right" style="color:var(--step5);">subst2</td>
              <td id="subst2"></td>
            </tr>
            <tr>
              <td align="right">steps</td>
              <td id="steps"></td>
            </tr>
          </tbody>
        </table>
      </fieldset>
      <fieldset>
        <legend>log</legend>
        <textarea id="log" readonly>
        </textarea>
      </fieldset>
    </main>
    <footer>
      Copyright (C) 2026 PUC-Rio/PUC-Behring Institute for AI<br/>
      <a href="https://github.com/PUC-Behring-Institute-for-AI/umllm">
        github.com/PUC-Behring-Institute-for-AI/umllm</a>
    </footer>
  </body>
</html>
