<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>UMLLM</title>
    <link rel="stylesheet"
          href="{{url_for('static', filename='style.css')}}" />
  </head>
  <body>
    <nav id="load">
      <form method="POST" action="" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Load">
      </form>
      <button id="clear">Clear</button>
    </nav>
    <main>
      <h1 id="filename"></h1>
      <div id="controls">
        <button id="prev" disabled>Prev</button>
        <button id="next" disabled>Next</button>
        <button id="cycle" disabled>Cycle</button>
        <button id="reset" disabled>Reset</button>
      </div>
      <div id="description">
        <table>
          <tbody>
            <tr>
              <td align="right">machine:</td>
              <td id="machine"></td>
            </tr>
            <tr>
              <td align="right">halt:</td>
              <td id="halt"></td>
            </tr>
            <tr>
              <td colspan="2"></td>
            </tr>
            <tr>
              <td align="right">work:</td>
              <td id="work"></td>
            </tr>
            <tr>
              <td align="right">state:</td>
              <td id="state"></td>
            </tr>
            <tr>
              <td align="right">symbol:</td>
              <td id="symbol"></td>
            </tr>
            <tr>
              <td align="right">left_symbol:</td>
              <td id="left_symbol"></td>
            </tr>
            <tr>
              <td align="right">next_state:</td>
              <td id="next_state"></td>
            </tr>
            <tr>
              <td align="right">next_symbol:</td>
              <td id="next_symbol"></td>
            </tr>
            <tr>
              <td align="right">next_move:</td>
              <td id="next_move"></td>
            </tr>
            <tr>
              <td align="right">subst1:</td>
              <td id="subst1"></td>
            </tr>
            <tr>
              <td align="right">subst2:</td>
              <td id="subst2"></td>
            </tr>
            <tr>
              <td align="right">steps:</td>
              <td id="steps"></td>
            </tr>
          </tbody>
        </table>
      </div>
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <script>
        let filename = {{filename | tojson}};
        let um = {{um | tojson}};
      </script>
      <script src="{{url_for('static', filename='script.js')}}"></script>
    </main>
  </body>
</html>
